---
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Aviso legal">
  <div class="p-8">
    <h1 class="text-7xl font-salo font-bold leading-[0.8]">Aviso legal</h1>
    <div class="mt-12 space-y-8">
      <p>
        Los términos y condiciones de uso del <a href="proyectoshd.uniandes.edu.co/idaesbra-mirarlonomirado" target="_blank" class="underline">sitio web</a> (en adelante, “el sitio”) establecen las normas que deben observar los usuarios de
        Internet al acceder y utilizar el sitio. Estos términos regulan aspectos
        relacionados con:
      </p>
      <ul class="pl-4 space-y-2 list-disc">
        <li>
          La naturaleza de los contenidos y los avisos legales sobre su
          reutilización.
        </li>
        <li>El uso de imágenes y citas.</li>
        <li>Procedimientos para solicitar autorizaciones de uso.</li>
        <li>Descargas de responsabilidad.</li>
        <li>Ley aplicable.</li>
      </ul>
      <p>
        Al acceder a este sitio, el usuario reconoce que los términos y
        condiciones son vinculantes, acepta estos términos de manera
        incondicional y reconoce haber leído y aceptado los avisos legales que
        contiene el sitio, comprometiéndose a respetarlos.
      </p>
      <p>
        El acceso y uso del sitio se rigen por los términos y condiciones
        descritos a continuación. El sitio se reserva el derecho de modificar
        estos términos en cualquier momento para adaptarlos a cambios
        legislativos, nuevas funcionalidades o contenidos del sitio. La fecha de
        la última actualización se indicará al inicio de estos términos.
      </p>
      <h3 class="text-2xl italic">
        1. Naturaleza de los contenidos y reutilización
      </h3>
      <p>
        Este sitio web es un prototipo de investigación y curaduría digital
        titulado Ida Esbra. Mirar lo No Mirado , con un propósito académico y
        cultural, sin ánimo de lucro, realizado con el apoyo financiero del CIC
        - Centro de Investigación de la Facultad de Artes y Humanidades de la
        Universidad de los Andes (Bogotá, Colombia).
      </p>
    </div>
  </div>
  <Footer />
</BaseLayout>
