---
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Aviso legal">
  <div class="p-8">
    <h1 class="text-7xl font-salo font-bold leading-[0.8]">Aviso legal</h1>
    <div class="mt-12 space-y-8">
      <p>
        Los términos y condiciones de uso del <a href="proyectoshd.uniandes.edu.co/idaesbra-mirarlonomirado" target="_blank" class="underline">sitio web</a> (en adelante, “el sitio”) establecen las normas que deben observar los usuarios de
        Internet al acceder y utilizar el sitio. Estos términos regulan aspectos
        relacionados con:
      </p>
      <ul class="pl-4 space-y-2 list-disc">
        <li>
          La naturaleza de los contenidos y los avisos legales sobre su
          reutilización.
        </li>
        <li>El uso de imágenes y citas.</li>
        <li>Procedimientos para solicitar autorizaciones de uso.</li>
        <li>Descargas de responsabilidad.</li>
        <li>Ley aplicable.</li>
      </ul>
      <p>
        Al acceder a este sitio, el usuario reconoce que los términos y
        condiciones son vinculantes, acepta estos términos de manera
        incondicional y reconoce haber leído y aceptado los avisos legales que
        contiene el sitio, comprometiéndose a respetarlos.
      </p>
      <p>
        El acceso y uso del sitio se rigen por los términos y condiciones
        descritos a continuación. El sitio se reserva el derecho de modificar
        estos términos en cualquier momento para adaptarlos a cambios
        legislativos, nuevas funcionalidades o contenidos del sitio. La fecha de
        la última actualización se indicará al inicio de estos términos.
      </p>
      <h3 class="text-2xl italic">
        1. Naturaleza de los contenidos y reutilización
      </h3>
      <p>
        Este sitio web es un prototipo de investigación y curaduría digital
        titulado Ida Esbra. Mirar lo No Mirado , con un propósito académico y
        cultural, sin ánimo de lucro, realizado con el apoyo financiero del CIC
        - Centro de Investigación de la Facultad de Artes y Humanidades de la
        Universidad de los Andes (Bogotá, Colombia).
      </p>
      <ol class="pl-4 space-y-2 list-[lower-alpha]">
        <li>Fines educativos y de investigación.  El proyecto y el sitio están destinados a fines educativos y de investigación. No se cobra por el acceso al contenido del sitio web.</li>
        <li>Derechos de imagen y contenido.  Los derechos sobre las imágenes y otros contenidos pertenecen a los herederos de Ida Esbra. El uso de estas obras ha sido autorizado por los titulares correspondientes. No obstante, el sitio cuenta con un protocolo para retirar material si algún interesado con derecho legítimo así lo solicita.</li>
        <li>Reutilización del contenido.  Los contenidos disponibles en el sitio pueden utilizarse siempre que se cite adecuadamente la fuente, conforme a la legislación colombiana de derechos de autor.</li>
        <li>Prohibición de uso comercial.  No se autoriza el uso comercial de los contenidos, tales como su reventa o cualquier otro uso que genere ingresos. Cualquier uso no autorizado por los titulares de derechos podría dar lugar a acciones legales de conformidad con la legislación colombiana.</li>
      </ol>
      <h3 class="text-2xl italic">
        2. Uso de imágenes y citas
      </h3>
      <p>Las imágenes incluidas en este proyecto pertenecen a la obra de Ida Esbra. Todos los derechos patrimoniales de dichas imágenes están en manos de sus herederos, quienes conservan la propiedad intelectual y el control sobre su reproducción y uso.</p>
      <p>Cuando se incluya el archivo digitalizado por el Archivo Arkhé, deberá reconocerse su crédito como responsable del proceso de digitalización de las imágenes. Para quienes necesiten citar estas imágenes o referencias relacionadas con Ida Esbra, sugerimos los siguientes formatos:</p>
      <ul class="pl-4 space-y-2 list-disc">
        <li>
          <span class="italic">Formato APA:</span>
          <span class="block mt-1">Esbra, I. (Año). Título de la imagen o descripción. Colección privada de los herederos de Ida Esbra.</span>
        </li>
        <li>
          <span class="italic">Formato MLA:</span>
          <span class="block mt-1">Esbra, Ida. Título de la imagen o descripción. Año. Colección privada de los herederos de Ida Esbra.</span>
        </li>
        <li>
          <span class="italic">Formato Chicago:</span>
          <span class="block mt-1">Esbra, Ida. Título de la imagen o descripción. Año. Colección privada de los herederos de Ida Esbra.</span>
        </li>
      </ul>
      <h3 class="text-2xl italic">
        3. Cómo solicitar autorizaciones de uso
      </h3>
      <p>Si está interesado en utilizar imágenes, obras u otros materiales incluidos en este sitio para fines culturales, académicos o científicos, debe obtener autorización previa de los herederos de Ida Esbra, de acuerdo con la Decisión Andina 351 de 1993, la Ley 23 de 1982 y la Ley 1915 de 2018. Este proceso es necesario salvo que el uso esté amparado bajo una limitación o excepción de los derechos de autor.</p>
      <p>Para solicitar autorización, póngase en contacto a través del correo electrónico: <a href="mailto:janesbra@hotmail.com" class="underline">janesbra@hotmail.com</a>.</p>
      <p>Es importante reconocer y respetar los derechos de autor de la obra de Ida Esbra, citando de manera adecuada y solicitando autorización en caso de uso adicional de las imágenes.</p>
      <h3 class="text-2xl italic">
        4. Descargas de responsabilidad
      </h3>
      <p>Las menciones a autores, obras e instituciones se realizan respetando sus derechos, en conformidad con la legislación colombiana. La Universidad de los Andes y los miembros del proyecto no se hacen responsables por el uso indebido de los contenidos por parte de los usuarios.</p>
      <h3 class="text-2xl italic">
        5. Ley aplicable
      </h3>
      <p>Estos términos y condiciones se rigen e interpretan de acuerdo con la legislación colombiana y la normativa interna de la Universidad de los Andes.</p>
    </div>
  </div>
  <div class="mt-20">
    <Footer />
  </div>
</BaseLayout>
