---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Cronología de la vida y obra de Ida Esbra | Mirar lo no mirado
    </title>
  </head>
  <body>
    <div class="w-full" style="height: 650px">
      <iframe
        class="w-full h-full"
        src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1Djjc1boRry2tsO7tfYklg7e0gGKiBc_sw0aJZRLCsGg&font=OldStandard&lang=es&initial_zoom=2&start_at_slide=1&height=650"></iframe>
    </div>
    <div class="py-5 px-6 bg-eerie-black text-floral-white">
        <a
          id="scroll-to-top"
          class="inline-flex font-antarctican-mono gap-4 items-center uppercase"
          href="/"
        >
          <span>Volver a la exposición</span>
        </a>
      </div>
  </body>
</html>
