---
import { Image } from "astro:assets";
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import externalIcon from "../icons/external.svg";
import MetadataExplorer from "../components/MetadataExplorer.astro";
---

<BaseLayout title="Sobre este proyecto">
  <div class="grid grid-cols-[1fr_min(80ch,_calc(100%))_1fr] py-6 gap-y-8">
    <div class="col-span-2 px-6">
      <h1 class="text-7xl font-salo font-bold leading-[0.8]">
        Sobre este
        <span class="block">proyecto</span>
      </h1>
      <div class="mt-12 space-y-8">
        <p>
          Ida Esbra. Mirar lo no mirado es una curaduría digital que busca la
          preservación y difusión de la obra fotográfica de Ida Esbra, una
          artista destacada de la fotografía experimental en el Caribe
          colombiano. Este proyecto surge de la necesidad de incluir, investigar
          y crear nuevas lecturas en torno a su obra, evidenciando la conexión
          entre lo personal y lo político, y abriendo un campo para la
          representación de nuevas subjetividades en la historia de la
          fotografía colombiana.
        </p>
        <p>
          La curaduría adopta el concepto Mirar lo no mirado como eje central,
          con una doble intención: invita al espectador a observar con
          detenimiento elementos dentro de la fotografía y también aquello que
          suele quedar fuera del canon permitiendo así explorar la conexión
          entre el contexto social y cultural de Esbra, las complejidades de su
          obra y su capacidad para generar diálogos visuales sobre lo invisible,
          lo marginal y lo no representado.
        </p>
        <p>
          Mirar lo no mirado propone una revisión de la obra de Ida Esbra desde
          una perspectiva feminista, en la intersección entre archivos, memoria
          visual y humanidades digitales. Aunque Esbra no se identificaba como
          feminista, su obra permite cuestionar las narrativas dominantes de la
          historia del arte y explorar nuevas formas de relacionarnos con las
          imágenes. Este proyecto asume el desafío de localizar, organizar y
          revalorizar las obras y el contexto de Esbra, destacando su
          protagonismo en el desarrollo de la fotografía en Colombia y en el
          arte experimental de las décadas de los setenta y ochenta.
        </p>
        <p>
          Además, este proyecto es un prototipo para la inclusión, la
          investigación y la creación de nuevas lecturas sobre la fotografía
          colombiana en la Red de Bibliotecas del Banco de la República,
          contribuyendo a una historiografía más diversa e inclusiva.
        </p>
        <h3 class="text-2xl italic">La colección digital</h3>
        <p>
          Esta colección pone a disposición del público 60  fotografías del
          archivo personal de la artista, en manos de sus herederos, y del
          archivo de Nina S. de Friedemann, bajo custodia de la Biblioteca Luis
          Ángel Arango. La entrega está organizada en tres salas temáticas:
        </p>
      </div>
    </div>
    <div class="col-span-full">
      <a
        class="border-y flex items-center justify-between py-2 border-b border-floral-white text-start px-6"
        href="/idaesbra-mirarlonomirado?room=1"
      >
        <span class="inline-flex flex-col gap-1">
          <span class="italic text-xl">Fragmentos de lo femenino</span>
        </span>
        <Image src={externalIcon} class="size-10" alt="" />
      </a>
    </div>
    <div class="col-span-2 px-6">
      <p>
        Explora la representación de lo femenino, el espacio privado y los roles
        de género. La obra de Esbra nos invita a desacostumbrar nuestra mirada y
        cuestionar las narrativas visuales del cuerpo femenino.
      </p>
    </div>
    <div class="col-span-full">
      <a
        class="border-y flex items-center justify-between py-2 border-b border-floral-white text-start px-6"
        href="/idaesbra-mirarlonomirado?room=2"
      >
        <span class="inline-flex flex-col gap-1">
          <span class="italic text-xl">Somos el resultado de lo que vemos</span>
        </span>
        <Image src={externalIcon} class="size-10" alt="" />
      </a>
    </div>
    <div class="col-span-2 px-6">
      <p>
        Aborda las tensiones entre el fotoconpetualismo y el surrealismo,
        explorando el uso del simbolismo y la ambigüedad en la obra de Esbra en
        temas como la identidad y lo imaginativo.
      </p>
    </div>
    <div class="col-span-full">
      <a
        class="border-y flex items-center justify-between py-2 border-b border-floral-white text-start px-6"
        href="/idaesbra-mirarlonomirado/?room=3"
      >
        <span class="inline-flex flex-col gap-1">
          <span class="italic text-xl">Caribe experimental</span>
        </span>
        <Image src={externalIcon} class="size-10" alt="" />
      </a>
    </div>
    <div class="col-span-2 px-6">
      <p>
        La serie presenta un juego entre lo festivo y lo introspectivo, entre lo
        documental y lo conceptual. Puede ser visto como un acto de resistencia
        visual, una manera de dignificar y elevar lo ordinario a la categoría de
        arte, cuestionando las representaciones tradicionales y ofreciendo un
        Caribe que es, a la vez, familiar y sorprendentemente.
      </p>
      <div class="mt-12 space-y-8">
        <h3 class="text-2xl italic">Metadatos</h3>
        <p>Esta curaduría digital es un punto de partida para un proceso continuo de refinamiento y ampliación. Más que un producto finalizado, este espacio es una versión preliminar que invita a explorar las posibilidades de organización, análisis y acceso a la obra de Ida Esbra.</p>
        <p>En este momento, los metadatos de la colección están disponibles para descarga en formato CSV, facilitando el acceso y la reutilización de la información en otros proyectos o investigaciones.</p>
        <p>
          <a class="underline" href="/idaesbra-mirarlonomirado/metadatos.csv" download="metadatos.csv">Descargar metadatos</a>
        </p>
        <p>Esta funcionalidad representa una primera aproximación a la interacción con el archivo, pero en el futuro busca expandir estas capacidades, permitiendo a los usuarios hacer consultas o búsquedas adentro de la colección. Como una demostración inicial, ofrecemos una versión beta que ilustra cómo podrían estructurarse estas herramientas.</p>
        <MetadataExplorer />
      </div>
      <div class="mt-12 space-y-8">
        <h3 class="text-2xl italic">Agradecimientos</h3>
        <p>
          A Jan Esbra, por su apertura y disposición desde el día uno. Sin ti,
          este proyecto no habría sido posible.
        </p>
        <p>
          A Sandra Sánchez López, asesora de proyecto, por su guía y su incansable
          impulso para que este proyecto alcance su mayor potencial. Gracias por
          compartir tu pasión por las historias detrás de las imágenes.
        </p>
        <p>
          A Juanita Solano Roa, por ser la primera en acompañarme en este camino.
          Gracias por iluminar este proyecto con tu conocimiento.
        </p>
        <p>
          Al Centro de Investigación y Creación de la Facultad de Artes y
          Humanidades de la Universidad de los Andes, por su apoyo económico en
          la realización de este proyecto de humanidades digitales.
        </p>
        <p>A la Biblioteca Luis Ángel Arango y la Subgerencia Cultural del Banco de la República por su compromiso con la cultura, la investigación y el conocimiento. También por la generosidad de su equipo de profesionales.</p>
        <h3 class="text-2xl italic">Créditos</h3>
        <div>
          <p>Lucy López Panza</p>
          <p class="italic">Investigación, curaduría y textos curatoriales</p>
        </div>
        <div>
          <p>Mariana Villamizar</p>
          <p class="italic">Diseño</p>
        </div>
        <div>
          <p>David Daza</p>
          <p class="italic">Desarrollo web</p>
        </div>
        <div>
          <p>Lorenzo Almario, Juan Darío Villarraga y Lucy López</p>
          <p class="italic">Visualización Aventura.js</p>
        </div>
        <div>
          <p>
            CIC – Centro de Investigación y Creación de la Facultad de Artes y
            Humanidades
          </p>
          <p class="italic">Financiación</p>
        </div>
      </div>
      <div class="mt-12">
        <p>Esta curaduría digital fue lanzada en el año 2024.</p>
      </div>
    </div>
  </div>
  <div class="mt-20">
    <Footer />
  </div>
</BaseLayout>
