---
import Footer from "../components/Footer.astro";
import Figure from "../components/Figure.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Explorer from "../components/Explorer.astro";
---

<BaseLayout title="Sobre la gráfica">
  <div class="grid grid-cols-[1fr_min(80ch,_calc(100%))_1fr] py-6 gap-y-8">
    <div class="col-span-2 px-6">
      <h1 class="text-7xl font-salo font-bold leading-[0.8]">
        Sobre <span class="block">la gráfica</span>
      </h1>
      <p class="mt-4">Por: Mariana Villamizar</p>
      <div class="mt-12 space-y-8">
        <blockquote class="text-3xl italic">
          El concepto gráfico del proyecto resalta a la tensión entre lo visible
          y lo invisible presente en la obra de Ida Esbra.
        </blockquote>
        <p>
          Para introducir el archivo y cada una de las salas, se escogieron
          fotografías que por su composición obligan al espectador a fijar su
          mirada en el sujeto enmarcado por Esbra.
        </p>
      </div>
    </div>
    <div class="col-span-full">
      <Figure src="/idaesbra-mirarlonomirado/images/sobre-la-grafica-1.jpg" />
    </div>
    <div class="col-span-2 px-6">
      <p>
        Los sujetos se hicieron invisibles mediante un proceso de manipulación
        gráfica, aunque su contorno aún se puede apreciar de forma sutil. Estos
        residuos gráficos dan pistas del sujeto que, aunque invisible, está ahí.
        Además, son evidencias de la manipulación de la fotografía, recordando
        las técnicas de intervención fotográfica utilizadas por Esbra en su
        obra.
      </p>
    </div>
    <div class="col-span-full">
      <Figure src="/idaesbra-mirarlonomirado/images/sobre-la-grafica-2.jpg" />
    </div>
    <div class="col-span-2 px-6">
      <p>
        Al avanzar por la página, la imagen revela poco a poco al sujeto, que se
        hace evidente y acapara la mirada del espectador. El avanzar o
        retroceder para revelar o esconder al sujeto queda en manos del usuario,
        transfiriendo el acto de mirar a un plano gestual. Esta experiencia
        enmarca la mirada como un acto consciente y enfatiza la existencia de
        aquello que fue invisibilizado.
      </p>
    </div>
    <div class="col-span-full">
      <Figure src="/idaesbra-mirarlonomirado/images/sobre-la-grafica-3.jpg" />
    </div>
    <div class="col-span-2 px-6">
      <p>
        El estilo gráfico del archivo busca dar protagonismo a la obra de la
        artista y acoplarse a su universo estético. El blanco y negro,
        predominante en las fotografías de Esbra, se conserva en el diseño de la
        página. El uso de iconografía es mínimo, y las fuentes tipográficas
        buscan facilitar la lectura de los textos curatoriales.
      </p>
    </div>
    <div class="col-span-full">
      <Figure src="/idaesbra-mirarlonomirado/images/sobre-la-grafica-4.jpg" />
    </div>
    <div class="col-span-2 px-6 space-y-8">
      <p>
        La navegación de la página está diseñada para recrear la experiencia de
        ir a un museo, donde las fotografías se aprecian desplazándose de forma
        horizontal con respecto a la pared. Mediante un gesto sencillo, el
        scroll se detiene en puntos específicos que centran el contenido a la
        mirada del usuario.
      </p>
      <p>
        Finalmente, los metadatos de cada fotografía son visibles a través de
        una ventana temporal, permitiendo al usuario explorar en profundidad sin
        perder la experiencia visual principal.
      </p>
    </div>
  </div>
  <div class="col-span-2 px-6 mt-12">
    <h3 class="text-2xl italic">Elementos gráficos del archivo</h3>
    <p class="mt-8">Esta versión beta permite una navegación inicial entre los elementos gráficos del archivo, facilitando la exploración de texturas, geometría, simetría e iluminación en las piezas del archivo. Actualmente en desarrollo, se prepara para una próxima entrega con mejoras en la experiencia de visualización.</p>
    <div class="mt-8">
      <Explorer />
    </div>
  </div>
  <div class="mt-20">
    <Footer />
  </div>
</BaseLayout>
