---
import Footer from "../components/Footer.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Figure from "../components/Figure.astro";
---

<BaseLayout title="Sobre Ida Esbra">
  <div class="grid grid-cols-[1fr_min(80ch,_calc(100%))_1fr] py-6 gap-y-8">
    <div class="col-span-2 px-6">
      <h1 class="text-7xl font-salo font-bold leading-[0.8]">
        Sobre
        <span class="block">Ida Esbra</span>
      </h1>
      <blockquote class="mt-12 text-3xl italic">
        “Generalmente prefiero no dar títulos a mis obras con la intención de no
        guiar a la persona que observa, es decir, para dejar en libertad a que
        cada uno se imagine lo que quiera.”
      </blockquote>
      <p class="mt-4 text-sm">Ida Esbra (1978)</p>
      <div class="text-base mt-12">
        <p>
          Ida Esbra (Ámsterdam, 1929 - Barranquilla, 2009) fue una artista
          versátil cuya producción fotográfica reclama un lugar en la historia
          del arte conceptual y experimental del Caribe colombiano.
        </p>
      </div>
    </div>
    <div class="col-span-full">
      <Figure src="/images/sobre-ida-1.jpg" />
    </div>
    <div class="col-span-2 px-6 space-y-8">
      <p>
        Aunque nacida en Europa, su obra está profundamente vinculada con el
        contexto cultural del Caribe colombiano, donde vivió gran parte de su
        vida y desarrolló una visión que combina la fotografía documental, el
        fotoconceptualismo y el surrealismo.
      </p>
    </div>
    <div class="col-span-full">
      <iframe src="/aventura.html" class="w-full aspect-square"></iframe>
    </div>
    <div class="col-span-2 px-6 space-y-8">
      <p>
        Esbra redefine la figura del fotógrafo como artista y autora autónoma,
        con una gramática visual particular en la que la fotografía es
        manipulada para ajustar los elementos visuales de acuerdo con su
        intención artística. A quince años de su muerte, su archivo nos invita a
        redescubrir su figura, sus imágenes, sus ideales, y todo aquello que la
        convirtió en una de las fotógrafas pioneras del siglo XX en Colombia.
      </p>
      <p>
        <a class="underline" href="/cronologia">Cronología de la vida y obra de Ida Esbra</a>
      </p>
      <h3 class="italic text-2xl">La colección fotográfica</h3>
      <p>
        El archivo de Ida Esbra está compuesto por el archivo personal de la
        artista, que incluye aproximadamente 800 documentos: fotografías
        análogas, hojas de contacto, recortes de prensa, catálogos de
        exposiciones y documentos personales. Además, contiene alrededor de 900
        negativos y 120 diapositivas. Este archivo físico se encuentra en
        Barranquilla, en posesión de sus herederos, y cuenta con una copia
        digitalizada realizada por el Archivo Arkhé.
      </p>
      <p>
        Parte de sus registros también se encuentran bajo la custodia de la
        Biblioteca Luis Ángel Arango dentro del Archivo Documental de Nina S. de
        Friedemann, con los siguientes números topográficos:
      </p>
      <ul class="pl-4 space-y-2 list-disc">
        <li>FT1947: 22 fotografías de la serie Huellas de Ida Esbra.</li>
        <li>
          FT1901: 65 fotografías, 22 hojas de contacto, 451 negativos, y 179
          diapositivas relacionadas con el Carnaval de Barranquilla de Ida
          Esbra.
        </li>
        <li>FT1948: 20 fotografías de la serie Huellas de Ida Esbra.</li>
      </ul>
      <h3 class="italic text-2xl">La obra de Ida Esbra</h3>
      <p>
        La obra de Ida Esbra dialoga con las tendencias globales del arte
        conceptual y el surrealismo, desde una mirada arraigada en las
        realidades y contradicciones de su contexto caribeño.
      </p>
      <p>
        Su fotografía, tanto íntima como desestabilizadora, invita al espectador
        a reexaminar su mirada, revelando las tensiones entre lo visible y lo
        invisible, lo público y lo privado, desafiando la representación
        tradicional de la mujer.
      </p>
    </div>
    <div class="col-span-full">
      <Figure src="/images/sobre-ida-2.jpg" />
    </div>
    <div class="col-span-2 px-6 space-y-8">
      <p>
        A primera vista el trabajo de Esbra puede ser visto como una
        contribución al diálogo sobre el arte conceptual, en el cual la artista
        plantea una reflexión crítica sobre el mundo que representa. Uno de sus
        trabajos más reconocidos es Triple (1977), una serie fotográfica en
        blanco y negro que le valió el Primer Premio en el Salón de Artistas
        Costeños del Icetex (Fig.1).
      </p>
    </div>
    <div class="col-span-full">
      <Figure
        src="/images/sobre-ida-3.jpg"
        caption="Figura 1. Esbra, I. (1977). Triple."
      />
    </div>
    <div class="col-span-2 px-6 space-y-8">
      <p>
        A través de esta composición, Ida Esbra transforma la imagen en una
        herramienta de cuestionamiento, uniéndose a la línea de otros artistas,
        como Jacques Marchal, Abdú Eljaiek y Alfonso Suárez, quienes también
        exploraron temáticas ecológicas en sus trabajos audiovisuales y
        fotográficos. Este enfoque ambientalista, aunque incipiente en el arte
        colombiano, se alineó con las preocupaciones globales de la época.
      </p>
      <p>
        Sin embargo, la obra de Ida Esbra se define por una búsqueda constante
        de nuevas formas de expresión, que desafían las normas establecidas de
        la fotografía. Es importante reconocer cómo su obra se sitúa en la
        intersección de dos enfoques artísticos fundamentales: el
        fotoconceptualismo y el surrealismo.
      </p>
    </div>
    <div class="col-span-full">
      <Figure
        src="/images/sobre-ida-4.jpg"
        caption="Figura 2. Esbra, I. (1980). Sin título."
      />
    </div>
    <div class="col-span-2 px-6 space-y-8">
      <p>
        En este autorretrato, Ida Esbra aparece atravesando el marco de una
        ventana, sosteniendo un paraguas decorado con mariposas. La escena, de
        apariencia cotidiana, adquiere un tono surrealista al combinar elementos
        familiares en un contexto inesperado. La ventana se convierte en un
        umbral hacia lo desconocido, el paraguas, adornado con mariposas,
        introduce un simbolismo cargado de ambigüedad.
      </p>
      <p>
        Como expresa André Breton en su Manifiesto Surrealista , el surrealismo
        busca "la futura resolución de estos dos estados, en apariencia tan
        contradictorios, como son el sueño y la realidad, en una especie de
        realidad absoluta, de surrealidad" (Bretón, 2001, p. 31). Esbra se
        presenta aquí como sujeto y objeto, explorando su identidad en una
        imagen que cuestiona nuestra percepción de la realidad.
      </p>
      <p>
        Esbra utiliza técnicas y enfoques de ambos movimientos para desafiar las
        normas convencionales de la fotografía, sugiriendo que su obra podría
        entenderse mejor bajo la categoría de fotografía experimental. Esta
        categoría permite transitar entre el análisis conceptual y la
        exploración de lo imaginativo y lo irracional, uniendo dos mundos
        aparentemente opuestos.
      </p>
      <p>
        En un país marcado por profundas desigualdades y conflictos, Esbra
        utilizó su arte para generar una conversación visual sobre los espacios
        que habitan estas realidades. Al documentar y a la vez reinterpretar,
        Esbra fue una pionera en la forma en que la fotografía puede expandir
        nuestra comprensión del entorno.
      </p>
      <p>
        Su obra nos invita a observar con detenimiento lo que normalmente no se
        ve, a Mirar lo no me mirado,  aquello que queda fuera de los relatos
        tradicionales, ofreciendo otra mirada sobre el país y su complejidad.
      </p>
      <h3 class="italic text-2xl">Bibliografía</h3>
      <ul class="pl-4 space-y-2 list-disc">
        <li>
          Bretón, A. (2001). Primer manifiesto (1924). Manifiestos del
          surrealismo. Editorial Argonauta, Buenos Aires.
        </li>
        <li>
          Esbra, I. (1978). Suplemento Diario del Caribe. No. 234. Pág. 1, 4, 5.
          Domingo, 21 de mayo de 1978.
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-20">
    <Footer />
  </div>
</BaseLayout>
