---
import { Image } from "astro:assets";
import arrowRightIcon from "../icons/arrow-right.svg";
---

<nav class="flex flex-col w-full">
  <button
    class="flex items-center justify-between py-5 border-y border-floral-white text-start js-room-anchor"
    data-slide="3"
    data-room="room-1"
    type="button"
  >
    <span class="inline-flex flex-col">
      <span class="text-4xl font-salo font-bold">Sala</span>
      <span class="italic text-xl">Fragmentos de lo femenino</span>
    </span>
    <Image src={arrowRightIcon} alt="" />
  </button>
  <button
    class="flex items-center justify-between py-5 border-b border-floral-white text-start js-room-anchor"
    data-slide="4"
    data-room="room-2"
    type="button"
  >
    <span class="inline-flex flex-col">
      <span class="text-4xl font-salo font-bold">Sala</span>
      <span class="italic text-xl">Somos el resultado de lo que vemos</span>
    </span>
    <Image src={arrowRightIcon} alt="" />
  </button>
  <button
    class="flex items-center justify-between py-5 border-b border-floral-white text-start js-room-anchor"
    data-slide="5"
    data-room="room-3"
    type="button"
  >
    <span class="inline-flex flex-col">
      <span class="text-4xl font-salo font-bold">Sala</span>
      <span class="italic text-xl">Caribe experimental</span>
    </span>
    <Image src={arrowRightIcon} alt="" />
  </button>
</nav>
<button class="italic uppercase inline-flex gap-2 items-center mt-14 justify-center font-antarctican-mono">
  <span>Sigue a la exposición</span>
  <Image src={arrowRightIcon} alt="" width={30} height={30} />
</button>
