---
import RoomSection from "../RoomSection";
---

<div class="swiper swiper-room w-full h-full" data-room="room-2">
  <div class="js-room-header opacity-0 transition-opacity flex justify-between items-center px-6 mt-5">
    <p class="italic w-full">Somos el resultado de lo que vemos</p>
    <div class="room-pagination text-right shrink"></div>
  </div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <RoomSection>
        <h2>
          <span class="text-8xl font-salo block">Somos el resultado</span>
          <span class="italic text-6xl">de lo que vemos</span>
        </h2>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <blockquote class="italic text-3xl leading-tight">
          “el Conceptual-art o arte conceptual, en los cuales los medios se
          transforman con frecuencia en fines.”
        </blockquote>
        <p class="text-xs mt-10">
          Esbra, I. et al. Suplemento Diario del Caribe. pp. 1, 3-5. Número 238.
          Domingo, 18 de junio, 1978, Barranquilla
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <p>
          En esta sala, la incertidumbre se convierte en el tema central: lo que
          vemos no siempre es lo que es. Los objetos, las figuras humanas y los
          paisajes se desdibujan, transformándose en símbolos de una verdad
          oculta, obligando al espectador a navegar entre lo real y lo irreal.
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <p>
          La relación entre técnica y fotografía es, como ella misma señalaba,
          un "matrimonio" que produce una atmósfera, donde la luz se convierte
          en un elemento, no solo para dar forma a las imágenes, sino para
          intensificar la sensación de ambigüedad y misterio.
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <blockquote class="italic text-3xl leading-tight">
          “En Colombia propuestas estéticas de tipo conceptual se han dado de
          forma esporádica sin que muchas veces ni los entendidos ni el grueso
          público las acepte como válidas.”
        </blockquote>
        <p class="text-xs mt-10">
          Esbra, I. et al. Suplemento Diario del Caribe. pp. 1, 3-5. Número 238.
          Domingo, 18 de junio, 1978, Barranquilla
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <p>
          Esbra manipula la composición y la luz con maestría, logrando una
          interacción entre técnica y creatividad que desafía las convenciones
          del arte fotográfico. En su obra, la luz no solo ilumina, sino que
          también oculta, generando sombras y zonas de incertidumbre que invitan
          a reflexionar sobre la naturaleza de la imagen y su relación con lo
          que representa.
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <blockquote class="italic text-3xl leading-tight">
          “De todas maneras, somos el resultado de lo que vemos.”
        </blockquote>
        <p class="text-xs mt-10">
          Esbra, I. (1978). Suplemento Diario del Caribe. Pág. 1, 4, 5. Domingo,
          21 de mayo.
        </p>
      </RoomSection>
    </div>
  </div>
</div>
