---
import RoomSection from "../RoomSection";
import RoomImage from "../RoomImage";
import Layered from "../Layered";
import RoomIntro from "../RoomIntro";
import Section from "../Section";

const images = ["01", "02", "03", "05", "08", "09", "10", "11", "12", "13", "14", "15", "17","19", "20"].map(id => `Caribe_${id}`)
---

<div class="swiper swiper-room w-full h-full" id="room-3">
  <div
    class="js-room-header opacity-0 transition-opacity flex justify-between items-center px-6 mt-5"
  >
    <p class="italic w-full">Caribe experimental</p>
    <div class="room-pagination text-right shrink text-sm"></div>
  </div>
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <RoomIntro>
        <h2>
          <span class="block text-6xl font-salo font-bold">Caribe</span>
          <span class="block italic text-4xl">experimental</span>
        </h2>
        <Layered
          background="/images/room-3-start.jpg"
          foreground="/images/room-3-end.jpg"
          alt="Retrato de una niña que mira directamente a la cámara desde el interior de una vivienda con paredes de madera y techo de palma. Su expresión es serena, con los brazos cruzados apoyados en el borde de una ventana. La imagen fue capturada en el corregimiento de Barranquillita, en el municipio de Chigorodó."
          client:only="react"
        />
        <!-- <h2 class="text-9xl font-salo font-bold leading-[0.8]">
          <span class="block">Ca</span>
          <span class="block">&nbsp;&nbsp;ri</span>
          <span class="block">&nbsp;&nbsp;&nbsp;&nbsp;be</span>
          <span class="flex font-nicholas italic">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="text-5xl">experimental</span>
          </span>
        </h2> -->
        <!-- <img class="absolute" src="/demo.gif" alt=""> -->
      </RoomIntro>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <blockquote class="italic text-3xl leading-tight">
          “La ciudad me impresiona mucho más, puesto que yo vengo de otras
          tierras, mi visión de la ciudad es fresca y me aporta sensaciones que
          desconozco.”
        </blockquote>
        <p class="text-xs mt-10">
          Esbra, I. (1978) Suplemento Diario del Caribe. Pág. 1, 4, 5. Domingo,
          21 de mayo.
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <RoomImage
          id="Caribe_06"
          client:only="react"
        />
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <p>
          Lejos de las narrativas que presentan un Caribe exuberante y colorido,
          Esbra traza un territorio lleno de contradicciones y resistencias,
          donde la soledad, el desgaste y la memoria encuentran un espacio para
          asistir a un diálogo visual que cuestiona lo que damos por sentado.
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <RoomImage
          id="Caribe_07"
          client:only="react"
        />
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <blockquote class="italic text-3xl leading-tight">
          “Me interesan desde este punto de vista las casas de madera de Puerto
          Colombia, los calados antiguos de madera y la luz del trópico.”
        </blockquote>
        <p class="text-xs mt-10">
          Esbra, I. (1978) Suplemento Diario del Caribe. Pág. 1, 4, 5. Domingo,
          21 de mayo.
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <RoomImage
          id="Caribe_18"
          client:only="react"
        />
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <RoomSection>
        <p>
          Su obra dignifica lo cotidiano: hombres del común, fachadas simples,
          calles desiertas, rincones olvidados. La arquitectura es dotada de una
          frialdad nostálgica invita al espectador a mirar más allá de lo
          superficial, revelando la quietud y las tensiones ocultas en cada
          espacio.
        </p>
      </RoomSection>
    </div>
    <div class="swiper-slide">
      <Section centerContent={false} className="overflow-y-auto">
        <div class="columns-3 gap-1">
          {images.map(image => (
            <div>
              <img src={`/images/salas/${image}.jpg`} alt="" />
            </div>
          ))}
        </div>
      </Section>
    </div>
    {images.map(image => (
      <div class="swiper-slide">
        <RoomSection>
          <RoomImage id={image} client:only="react" />
        </RoomSection>
      </div>
    ))}
  </div>
</div>
